<div>
    <div style="padding: 30px;">
        <div class="row">
            <div>
                <div data-ng-controller="DashboardCtrl">

                    <!--<div class="callout callout-warning">-->
                        <!--<h4>SOME NOTIFICATION</h4>-->
                        <!--<p>-->
                            <!--ававававав-->
                            <!--<button ng-click="changeEditModeOn()" class="btn btn-success">-->
                                <!--да-->
                            <!--</button>-->

                            <!--<button ng-click="changeEditModeOn()" class="btn btn-danger">-->
                                <!--нет-->
                            <!--</button>-->

                            <!--<button ng-click="changeEditModeOn()" class="btn btn-warning">-->
                                <!--удлаить-->
                            <!--</button>-->
                        <!--</p>-->
                    <!--</div>-->



                    <div class="row">
                        <div class="col-md-4">
                            <section class="panel panel-default">
                                <div class="panel-heading"><span class="glyphicon glyphicon-th"></span> Аватар</div>
                                <div class="panel-body text-center">

                                    <div ng-if="currentUser.avatarUrl || currentUser.avatarUrl != ''">
                                        <img src="{{currentUser.avatarUrl}}" class="img-responsive img-thumbnail">
                                    </div>

                                    <div ng-if="!currentUser.avatarUrl || currentUser.avatarUrl == ''">
                                        <img src="images/no-avatar.png" class="img-responsive img-thumbnail" width="250" height="250">
                                    </div>



                                    <br>

                                    <div ng-if="editProfileMode">
                                        <input type="text" ng-model="currentUser.avatarUrl" class="form-control">
                                    </div>

                                </div>

                            </section>
                        </div>


                        <div class="col-md-8">
                            <section class="panel panel-default">
                                <div class="panel-heading"><span class="glyphicon glyphicon-th"></span> Мой профиль
                                </div>
                                <div class="panel-body text-center">


                                    <div class="row">

                                        <div class="col-md-6">
                                            Имя:
                                        </div>

                                        <div class="col-md-6">

                                            <div ng-if="editProfileMode">
                                                <input type="text" ng-model="currentUser.firstName"
                                                       class="form-control">
                                            </div>

                                            <div ng-if="!editProfileMode">
                                                <b> {{currentUser.firstName}} </b>
                                            </div>

                                        </div>

                                        <div class="col-md-12"></div>

                                        <div class="col-md-6">
                                            Фамилия:
                                        </div>

                                        <div class="col-md-6">
                                            <div ng-if="editProfileMode">
                                                <input type="text" ng-model="currentUser.lastName" class="form-control">
                                            </div>

                                            <div ng-if="!editProfileMode">
                                                <b> {{currentUser.lastName}} </b>
                                            </div>

                                        </div>


                                        <div class="col-md-12"></div>

                                        <!--<div class="col-md-6">-->
                                        <!--[ emailVerified: ]-->
                                        <!--</div>-->

                                        <!--<div class="col-md-6">-->
                                        <!--<input type="text" ng-model="currentUser.emailVerified"  class="form-control">-->
                                        <!--</div>-->


                                        <div class="col-md-12"></div>


                                        <div class="col-md-6">
                                            Ник:
                                        </div>

                                        <div class="col-md-6">

                                            <div ng-if="editProfileMode">
                                                <input type="text" ng-model="currentUser.nickName" class="form-control">
                                            </div>

                                            <div ng-if="!editProfileMode">
                                                <b> {{currentUser.nickName}} </b>
                                            </div>

                                        </div>

                                        <div class="col-md-12"></div>


                                        <div class="col-md-6">
                                            Email:
                                        </div>

                                        <div class="col-md-6">

                                            <div ng-if="editProfileMode">
                                                <input type="text" ng-model="currentUser.email" class="form-control">
                                            </div>

                                            <div ng-if="!editProfileMode">
                                                <b> {{currentUser.email}} </b>
                                            </div>

                                        </div>


                                        <div class="col-md-12"></div>

                                        <div class="col-md-6">

                                        </div>

                                        <div class="col-md-6">

                                            <div ng-if="editProfileMode">
                                                <button ng-click="updateMyProfile()" class="btn btn-success">обновить
                                                </button>
                                                <button ng-click="changeEditModeOff()" class="btn btn-danger">отмена
                                                </button>
                                            </div>

                                            <div ng-if="!editProfileMode">
                                                <button ng-click="changeEditModeOn()" class="btn btn-success">
                                                    редактировать
                                                </button>
                                            </div>


                                        </div>


                                    </div>
                                </div>
                            </section>
                        </div>


                    </div>


                    <div class="row">
                        <div class="col-md-12 col-lg-6">
                            <section class="panel panel-default">
                                <div class="panel-heading"><span class="glyphicon glyphicon-th"></span> Мой контак лист
                                </div>
                                <div class="panel-body text-center">

                                    <!--{{myContactList }}-->

                                    <table class="table table-bordered table-stripped"
                                           ng-if="getAccountListFullResult.length > 0  ">
                                        <thead>
                                        <tr>
                                            <th>№</th>
                                            <th>Последний раз заходил</th>
                                            <th>Название</th>
                                            <th>Действие</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="project in getAccountListFullResult">
                                            <td class="col-md-1">{{$index+1}}</td>

                                            <td>
                                                {{timeConverter(project.lastOnlineDate)}}
                                            </td>

                                            <td>
                                                 <a href="#/user/details/{{project.id}}">
                                                     {{printUser(project)}}
                                                     <!--{{project.firstName}} {{project.lastName}} (  {{resolveUser(project.id).nickName}} )-->
                                                 </a>
                                            </td>
                                                <td>
                                                    <button ng-click="deleteFromContactList(project.id)" class="btn btn-danger"> убрать</button>
                                                </td>
                                                <!--<td>  <button ng-click="addToContactListfoo(project.id)" class="btn btn-success"> В контакт лист</button>    </td>-->
                                        </tr>

                                        </tbody>
                                    </table>

                                    <div ng-if="getAccountListFullResult.length == 0">
                                        <div class="callout callout-warning">
                                            <h4>в контакт листе никого нет</h4>
                                            <p>добаьте людей в контакт-лист через <a href="#/chat/userSearch">поиск</a> </p>
                                        </div>
                                    </div>


                                </div>

                            </section>
                        </div>


                    </div>


                    <div class="row">
                        <div class="col-md-12 col-lg-6">
                            <section class="panel panel-default">
                                <div class="panel-heading"><span class="glyphicon glyphicon-th"></span> Новая комната</div>
                                <div class="panel-body text-center">


                                    <div class="row">
                                        <div class="col-md-4">
                                            Новая комната
                                        </div>

                                        <div class="col-md-4">
                                            <input type="text" ng-model="newRomName" class="form-control">
                                        </div>

                                        <div class="col-md-4">
                                            <button ng-click="addNewRoom()" class="btn btn-success">добавить</button>
                                        </div>
                                        <!--addNewRoom-->
                                    </div>


                                </div>

                            </section>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12 col-lg-6">
                            <section class="panel panel-default">
                                <div class="panel-heading"><span class="glyphicon glyphicon-th"></span> Существующие комнаты</div>
                                <div class="panel-body text-center">

                                    <div ng-if="allRooms.length == 0">
                                        <div class="callout callout-warning">
                                            <h4>комнат нет</h4>
                                            <p>вас нет ни в отной комнате</p>
                                        </div>
                                    </div>

                                    <table class="table table-bordered table-stripped" ng-if="allRooms.length > 0">
                                        <thead>
                                        <tr>

                                            <th>№</th>
                                            <th>Название</th>
                                            <th>Владелец</th>
                                            <th>Участники</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="room in allRooms">

                                            <!--//[-->
                                            <!--//    {-->
                                            <!--//        "id": 1,-->
                                            <!--//        "name": "roomName",-->
                                            <!--//        "owner": "ya@nbakaev.ru",-->
                                            <!--//        "members": [-->
                                            <!--//            1-->
                                            <!--//        ]-->
                                            <!--//    }-->
                                            <!--//]-->

                                            <td>{{room.id}}</td>
                                            <td class="success"> <a href="#/room/details/{{room.id}}"> {{room.name}} </a>  </td>
                                            <td>

                                                <a href="#/user/details/{{resolveUser(room.owner).id}}">
                                                    {{printUser(resolveUser(room.owner))}}
                                                </a>
                                                <!--<button type="button" class="btn btn-success" data-animation="am-fade-and-slide-top"-->
                                                        <!--content-template="templates/userModal.html" bs-modal="room.owner">-->

                                                    <!--{{printUser(resolveUser(room.owner))}}-->

                                                <!--</button>-->
                                                <!--{{ }}-->


                                            </td>
                                            <td>
                                                <div ng-repeat="member in room.members">
                                                   <a href="#/user/details/{{member}}">
                                                       {{printUser(resolveUser(member))}}

                                                   </a>
                                                    <br/>
                                                </div>
                                            </td>


                                            <td> <button class="btn btn-danger" ng-click="leaveRoom(room.id)">покинуть</button> </td>

                                        </tr>

                                        </tbody>
                                    </table>


                        <!--{{allRooms}}-->



                                </div>

                            </section>
                        </div>


                    </div>


                    <!--КОМНАТЫ-->

                </div>


            </div>

        </div>
    </div>

</div>

