<style>
    @media (max-width: 767px) {
        .nav2 {
            max-height: 100%;
            overflow-y: scroll;
        }
    }

</style>


<div class="nav-wrapper"  data-ng-controller="DashboardCtrl">
    <ul id="nav"
        class="nav  nav2"

        data-slim-scroll
        data-collapse-nav
        data-highlight-active>

        <li class="  admin-section"  >
            <a href="#/dashboard"> <i class="fa fa-dashboard"></i><span data-i18n="  Мой аккаунт"></span> </a>
        </li>

        <li class="  admin-section"  >
            <a href="#/chat/userSearch"> <i class="fa fa-dashboard"></i><span data-i18n="Поиск пользователя"></span> </a>
        </li>








        <!--<li class="">-->
            <!--<a  ><i class="fa fa-trophy"></i><span data-i18n="Мой аккаунт"></span></a>-->
            <!--<ul>-->

                <!--<li> <a href="#/login/login">-->
                       <!--<i class="fa fa-angle-right"></i><span-->
                        <!--data-i18n="Зайти под другой учётной записью"></span></a></li>-->

            <!--</ul>-->
        <!--</li>-->



        <li class="  admin-section" ng-show="hasRole('ROLE_ADMIN')">
            <a  ><i class="fa fa-thumb-tack"></i><span data-i18n="Системная информация"></span></a>
            <ul>
                 <li><a href="#/debug"><i class="fa fa-angle-right"></i><span data-i18n="debug mode"></span></a> </li>

            </ul>
        </li>


        <div class="text-center">
            <li class="  admin-section"  >
                <button class="btn" type="button"  content-template="templates/fastContacts.html"
                        data-placement="right" data-animation="am-slide-right"  data-container="body" bs-aside="getAccountListFullResult">

                    Быстрые Контакты
                </button>
                <!--<a href="#/dashboard"> <i class="fa fa-dashboard"></i><span data-i18n=" "></span> </a>-->
            </li>
        </div>





    </ul>







</div>