<section class="page-form-ele page">


    <section class="panel panel-default">
        <div class="panel-heading"><span class="glyphicon glyphicon-th"></span> Поиск по ФИО</div>
        <div class="panel-body text-center">

            <input type="text" ng-change="searchUserByData()" ng-model="searchData" class="form-control">

            <!--{{searchResult}}-->

            <h4> результаты поиска </h4>

            <table class="table table-bordered table-stripped" ng-if="searchResult.length > 0  ">
                <thead>
                <tr>
                    <th>№</th>
                    <th>Название</th>
                    <th>Действие</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="project in searchResult">
                    <td class="col-md-1">{{$index+1}}</td>
                    <td> {{project.name}}</td>
                    <td>

                        <div ng-if="!isInContactList(project.id)">
                            <button ng-click="addToContactListfoo(project.id)" class="btn btn-success">
                                В контакт
                                лист
                            </button>
                        </div>

                        <div ng-if="isInContactList(project.id)">
                            <button disabled ng-click="addToContactListfoo(project.id)" class="btn btn-success">
                                уже в контакт листе
                            </button>
                        </div>

                    </td>
                </tr>

                </tbody>
            </table>


            <div ng-if="searchResult.length == 0">
                <div class="callout callout-warning">
                    <h4>нет результатов</h4>

                    <p>введите другие данные для поиска</p>
                </div>
            </div>


        </div>
    </section>


    <section class="panel panel-default">
        <div class="panel-heading"><span class="glyphicon glyphicon-th"></span> Поиск по Email или ID</div>
        <div class="panel-body text-center">

            <input type="text" ng-change="searchUserByEmail()" ng-model="searchDataEmail" class="form-control">

            <!--{{searchResultEmail}}-->

            <h4> результаты поиска </h4>

            <table class="table table-bordered table-stripped" ng-if="searchResultEmail.id">
                <thead>
                <tr>

                    <th>Название</th>
                    <th>Действие</th>
                </tr>
                </thead>
                <tbody>
                <tr>

                    <td> {{searchResultEmail.firstName}} {{searchResultEmail.lastName}} |
                        {{searchResultEmail.nickName}}
                    </td>
                    <td>


                            <button ng-click="addToContactListfoo(searchResultEmail.id)" class="btn btn-success">
                                В контакт
                                лист
                            </button>



                    </td>
                </tr>

                </tbody>
            </table>

            <div ng-if="!searchResultEmail.id">
                <div class="callout callout-warning">
                    <h4>нет результатов</h4>

                    <p>введите другие данные для поиска</p>
                </div>
            </div>


        </div>
    </section>


</section>