<!DOCTYPE html>
{% extends "registration/base.html" %}
{% block content %}
<html lang="ru">
<head>	
<meta content="Help&Manual" />
    <link rel="stylesheet" href="style.css" />
    <title>HipstaHelp</title>
</head>

<body>
<!--     <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog/">Blog</a></li>
        </ul>
        {% endblock %}
    </div> -->

    <div id="content">
    <ol>
    <li style="margin: 0cm 0cm 0.0001pt; text-align: justify;">Основные статьи</li>
    <ul style="margin-left: 40px;">
        <li style="margin: 0cm 0cm 0.0001pt; text-align: justify;">Создание нового аккаунта</li>
    </ul>

    <p style="margin-left: 120px; text-align: justify;">Чтобы зарегистрировать новый аккаунт в HipstaChat, вам нужно пройти по ссылку в форму для регистрации и отправить нам свой логин и пароль. В качестве логина вам нужно использовать свой email, на который в последствии придет письмо с ссылкой для подтверждения регистрации.<br />
    Пароль &mdash; это секретное кодовое слово, знание которого подтверждает, что именно вы являетесь владельцем этого логина.<br />
    Чтобы авторизоваться на сайте, необходимо указать свой логин и пароль после нажатия ссылки &laquo;Sign In&raquo; на главной странице. Авторизация необходима для того, чтобы вы могли от своего имени общаться с другими пользователями и осуществлять другие действия на сайте.</p>

    <ul style="margin-left: 40px;">
        <li style="margin: 0cm 0cm 0.0001pt; text-align: justify;">Аккаунт</li>
    </ul>

<p style="margin: 0cm 0cm 0.0001pt 120px; text-align: justify;">После того, как вы прошли регистрацию, для вас создаётся аккаунт (account) &mdash; учётная запись, в которой хранится ваша персональная информация для входа на сайт.</p>

    <ul style="margin-left: 40px;">
        <li style="margin: 0cm 0cm 0.0001pt; text-align: justify;">Отправка сообщений</li>
    </ul>
<p style="margin: 0cm 0cm 0.0001pt 120px; text-align: justify;">Для отправки сообщений вам нужно вписать свое сообщение в специальное поле и нажать кнопку Send</p>

    <ul style="margin-left: 40px;">
        <li style="margin: 0cm 0cm 0.0001pt; text-align: justify;">Создание комнаты</li>
    </ul>
<p style="margin: 0cm 0cm 0.0001pt 120px; text-align: justify;">НЕ ЗАБЫТЬ!</p>

    <ul style="margin-left: 40px;">
        <li style="margin: 0cm 0cm 0.0001pt; text-align: justify;">Модераторы и модерация</li>
    </ul>
<p style="margin: 0cm 0cm 0.0001pt 120px; text-align: justify;">Модераторы &mdash; сотрудники HipstaChat, которые следят, чтобы анкеты и поведение пользователей не противоречили правилам Сервиса. То есть, чтобы не содержали порнографию, оскорбления, не нарушали законодательство и т.п. Процесс проверки анкет модераторами называется модерацией.</p>

    <ul style="margin-left: 40px;">
        <li style="margin: 0cm 0cm 0.0001pt; text-align: justify;">Правила пользования HipstaChat</li>
    </ul>
<p style="margin: 0cm 0cm 0.0001pt 120px; text-align: justify;">НЕ ЗАБЫТЬ!</p>

    <ul style="margin-left: 40px;">
        <li style="margin: 0cm 0cm 0.0001pt; text-align: justify;">Частые проблемы с безопасностью</li>
    </ul>
<p style="margin-left: 120px; text-align: justify;">Если вы заходите на наш сайт с компьютера, которым пользуетесь не один, обязательно выходите из своего аккаунта после окончания работы. Иначе кто-то другой может изменить вашу анкету, прочитать переписку или даже отправить пару сообщений за вас.</p>
<p style="margin-left: 120px; text-align: justify;">Если вам написал неизвестный вам человек, и его сообщение содержит рекламу каких-либо услуг или странную просьбу, например, оплатить телефон или разослать сообщение всем, то, скорее всего, это мошенничество или бессмысленное &laquo;письмо счастья&raquo;. Пожалуйста, не реагируйте на подобные сообщения. Проявляйте бдительность и уведомляйте о подобных случаях нашу Службу поддержки.</p>

    <ul style="margin-left: 40px;">
        <li style="margin: 0cm 0cm 0.0001pt; text-align: justify;">Важный совет по безопасности</li>
    </ul>

<p style="text-align: justify; margin-left: 120px;">Если из вашего аккаунта отправлено сообщение без вашего ведома, это может означать, что вашим аккаунтом воспользовался другой человек, имеющий доступ к компьютеру. Чтобы избежать таких ситуаций, каждый раз при окончании работы нажимайте &laquo;Выход&raquo; и не ставьте галочку &laquo;Запомнить&raquo; при авторизации на чужом компьютере.</p>

    <ul style="margin-left: 40px;">
        <li style="margin: 0cm 0cm 0.0001pt; text-align: justify;">Мы заботимся о вашей безопасности</li>
    </ul>
<p style="margin: 0cm 0cm 0.0001pt 120px; text-align: justify;">Безопасность пользователей является главным приоритетом в работе нашего чата, и мы уделяем особое внимание конфиденциальности:<br />
Мы используем данные, полученные от вас, только для обеспечения работы сервисов чата, и никогда не передаем их третьим лицам.<br />
Без вашего ведома никто не узнает адрес вашей страницы, так как этого адреса нет в свободном доступе.<br />
Вся переписка хранится на наших защищенных серверах, поэтому вы сможете читать вашу корреспонденцию с любого компьютера, подключенного к Интернету.<br />
Вся переписка строго конфиденциальна: никто кроме самого пользователя не имеет доступа к сообщениям.</p>
    </li>
    <li start="2" style="margin: 0cm 0cm 0.0001pt; text-align: justify;">Словарь</li>
    <li style="margin: 0cm 0cm 0.0001pt; text-align: justify;">Контакты поддержки</li>
    <li style="margin: 0cm 0cm 0.0001pt; text-align: justify;">Оставить отзыв</li>
    <li style="margin: 0cm 0cm 0.0001pt; text-align: justify;">Перспективы на развитие</li>
</ol>

    </div>
</body>
</html>
{% endblock %}