{% extends "registration/base.html" %}
{% block content %}

    <div class="container">
        {#img-thumbnail#}
        <div class="row">
            <div class="col-md-6">
                <img src="https://cdn1.iconfinder.com/data/icons/simple-icons/1024/github-1024-black.png" width="50%;"
                     class="img-responsive ">
            </div>

            <div class="col-md-6">
                <h2>Open Source</h2>

                <p>
                    Для работы чата используются только технологии с открытым исходным кодом.
                </p>

                <p>Вы можете использовать в коммерческих и некоммерческих целях.</p>

                <p>Для работы чата необходим Python c Django и база данных: PostgreSQL, либо SQLite. </p>

            </div>

            <div class="col-md-12"><br/></div>

        </div>
        <br/><br/>

        <div class="row">

            <div class="col-md-6">
                <h2>Клиент-серверная архитектура. API</h2>

                <p>
                    Чат состоит из двух частей: Frontend (AngularJS) и Backend (Python).
                </p>

                <p>Для коммуникации чатсей этой системы используется REST.</p>

                <p>Данные между клиентом и сервером передаются в формате JSON.</p>


            </div>

            <div class="col-md-6">
                <img src="http://safehammad.com/wp-uploads/2010/10/json-rest3.png" class="img-responsive ">
            </div>

            <div class="col-md-12"></div>

        </div>


        <br/><br/>


        {#            <div class="row">#}
        {##}
        {#                 <div class="col-md-6">#}
        {#                     <img src="http://safehammad.com/wp-uploads/2010/10/json-rest3.png"   class="img-responsive ">#}
        {#                 </div>#}
        {##}
        {##}
        {#                <div class="col-md-6">#}
        {#                     <h2>Уведомления</h2>#}
        {##}
        {#                      <p>#}
        {#                          Будьте в курсе самых последних событий.#}
        {#                      </p>#}
        {##}
        {#                      <p>От получения уведолмения о новых сообзениях</p>#}
        {##}
        {#                      <p>до изменений в составе участников комнаты</p>#}
        {##}
        {##}
        {#                 </div>#}
        {##}
        {#                 <div class="col-md-12"></div>#}
        {#             </div>#}


        {#    ---------------------#}
        <br/><br/>

        <div class="row">

            <div class="col-md-6">
                <h2>Контакты</h2>

                <p>
                    Ищите, добавляйте и общайтесь со своими друзьями и коллегами.
                </p>

                <p>Где угодно</p>

                <p>Когда угодно</p>


            </div>

            <div class="col-md-6">

                <a id="img_01" href="/static/img/kontakt-list.png" title="Все друзья">
                    <img src="/static/img/kontakt-list.png" class="img-responsive img-thumbnail"/>
                </a>

                {#                     <img src="/static/img/kontakt-list.png"   class="img-responsive img-thumbnail ">#}
            </div>

            <div class="col-md-12"></div>

        </div>

        <br/><br/>

        <div class="row">

            <div class="col-md-6">
                <a id="img_02" href="/static/img/rooms.png" title="Комнаты">
                    <img src="/static/img/rooms.png" class="img-responsive img-thumbnail"/>
                </a>
                {#                     <img src="/static/img/rooms.png"   class="img-responsive ">#}
            </div>


            <div class="col-md-6">
                <h2>Личные сообщения и групповые чаты</h2>

                {#                      <p>#}
                {#                          Будьте в курсе самых последних событий.#}
                {#                      </p>#}
                {##}
                {#                      <p>От получения уведолмения о новых сообзениях</p>#}
                {##}
                {#                      <p>до изменений в составе участников комнаты</p>#}


            </div>

            <div class="col-md-12"></div>
        </div>


        <br/><br/>

        <div class="row">
            <div class="col-md-6">
                <h2>Ищите друзей</h2>

                <p>
                    По имени
                </p>

                <p>Фамилии</p>

                <p>Email</p>


            </div>
            <div class="col-md-6">
                <a id="img_03" href="/static/img/search.png" title="Поиск">
                    <img src="/static/img/search.png" class="img-responsive img-thumbnail"/>
                </a>

                {#                     <img src="/static/img/search.png"   class="img-responsive img-thumbnail ">#}
            </div>
            <div class="col-md-12"></div>
        </div>
        <br/><br/>


        <div class="row">

            <div class="col-md-6">
                <a id="img_04" href="/static/img/chat-details.png" title="Переписка">
                    <img src="/static/img/chat-details.png" class="img-responsive img-thumbnail"/>
                </a>

                {#                     <img src="/static/img/chat-details.png"   class="img-responsive img-thumbnail ">#}
            </div>

            <div class="col-md-6">
                <h2>Общайтесь, общайтесь и еще раз общайтесь</h2>
                {#                      <p>#}
                {#                          По имени#}
                {#                      </p>#}
                {##}
                {#                      <p>Фамилии</p>#}
                {#                      <p>Email</p>#}


            </div>

            <div class="col-md-12"></div>
        </div>
        <br/><br/>


        <br/><br/>

        <div class="row">
            <div class="col-md-6">
                <h2>Будьте в курсе всех событий</h2>

                <p>
                    Система уведомлений состоит из нескольких частей:

                <ul>
                    <li>Заголовок страницы</li>

                    <li>Pop-up уведомлния</li>
                    <li>Список всех уведомлений</li>
                </ul>

                </p>


            </div>
            <div class="col-md-6">
                <img src="/static/img/fav-notif.png" class="img-responsive img-thumbnail ">
                <br/>

                <a id="img_05" href="/static/img/all-notifications.png" title="Уведомления">
                    <img src="/static/img/all-notifications.png" class="img-responsive img-thumbnail"/>
                </a>

                {#                     <img src="/static/img/all-notifications.png"   class="img-responsive img-thumbnail ">#}

                <br/>
                <a id="img_06" href="/static/img/notif-popup.png" title="Уведомления">
                    <img src="/static/img/notif-popup.png" class="img-responsive img-thumbnail"/>
                </a>

                {#                     <img src="/static/img/notif-popup.png"   class="img-responsive img-thumbnail ">#}

            </div>
            <div class="col-md-12"></div>
        </div>


        <div class="row">
            <h2>Адаптивная верстка</h2>

            <div class="col-md-4">
                <img src="/static/img/mobile/1.jpg" class="img-responsive img-thumbnail ">
            </div>

            <div class="col-md-4">
                <img src="/static/img/mobile/2.jpg" class="img-responsive img-thumbnail ">
            </div>

            <div class="col-md-4">
                <img src="/static/img/mobile/3.jpg" class="img-responsive img-thumbnail ">
            </div>

            <div class="col-md-12"></div>

            <div class="col-md-4">
                <img src="/static/img/mobile/4.jpg" class="img-responsive img-thumbnail ">
            </div>

            <div class="col-md-4">
                <img src="/static/img/mobile/5.jpg" class="img-responsive img-thumbnail ">
            </div>

            <div class="col-md-4">
                <img src="/static/img/mobile/6.jpg" class="img-responsive img-thumbnail ">
            </div>

            <div class="col-md-4">
                <img src="/static/img/mobile/7.jpg" class="img-responsive img-thumbnail ">
            </div>

            <div class="col-md-4">
                <img src="/static/img/mobile/8.jpg" class="img-responsive img-thumbnail ">
            </div>

            <div class="col-md-12"></div>


            <div class="col-md-4">
                <img src="/static/img/mobile/9.jpg" class="img-responsive img-thumbnail ">
            </div>

            {#            <div class="col-md-4">#}
            {#                 <img src="/static/img/mobile/6.jpg"   class="img-responsive img-thumbnail ">#}
            {#            </div>#}
            {#            #}
            {#            <div class="col-md-4">#}
            {#                 <img src="/static/img/mobile/7.jpg"   class="img-responsive img-thumbnail ">#}
            {#            </div>#}
        </div>


    </div>


    {#<ul>#}
    {#    {% if user.is_authenticated %}#}
    {#        <p>You are <b>{{ user.username }} ({{ user.email }}) </b></p>#}
    {##}
    {#    {% else %}#}
    {#        <p>You are not authenticated</p>#}
    {#    {% endif %}#}
    {##}
    {#    <li><a href="/accounts/register/">reg</a></li>#}
    {#    <li><a href="/accounts/login">log</a></li>#}
    {#    <!-- <li><a href="/secret">sec (auth check)</a></li> -->#}
    {#    <!-- <li><a href="/static/example.html">chat exmpple!</a></li> -->#}
    {#    <li><a href="/accounts/logout">logout</a></li>#}
    {#    <li><a href="/admin">admin</a></li>#}
    {#    <li><a href="/app">angular <app></app></a></li>#}
    {##}
    {#</ul>#}
{% endblock %}
{#<!DOCTYPE html>#}
{#<html>#}
{#<head lang="en">#}
{#    <meta charset="UTF-8">#}
{#    <title></title>#}
{#</head>#}
{#<body>#}

